target/
extension.wasm
grammars/*.wasm
grammars/neat/
grammars/_failed_*/
grammars/_legacy_*/
grammars/*/.build/
grammars/*/build/
grammars/*/target/
grammars/*/node_modules/
grammars/*/package-lock.json
.DS_Store
